<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list All Tasks</title>
</head>
<body>
    <h1>To Do List (<!--/*@thymesVar id="tasksCount" type="java"*/-->
        <span th:text="${tasksCount}">0</span> )</h1>
    <br><br>
    <div id="task-list">
        <!--/*@thymesVar id="allTasks" type="java"*/-->
        <div th:each="task : ${allTasks}">
            <a href="/" class="task-link" th:attr="task-id=${task.id}" th:text="${task.description}"></a>
        </div>
    </div>
</body>
</html>