<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 10px;
            padding: 10px;
            overflow: auto;
            font-family: 'Times New Roman', sans-serif;
        }
    </style>
</head>
<body>
    <h1>To Do List ( <span th:text="${tasksCount}"></span> records total )</h1>
    <br>
    <form method="GET" action="/tasks">
        <input type="submit" value="List All Tasks" />
        <br><br><br>
    </form>
    <form method="GET" action="/tasks/new">
        <input type="submit" value="Create new Task" />
        <br><br><br>
    </form>
    <form th:method="DELETE" th:action="@{/tasks}">
        <input type="submit" value="Delete All Tasks" />
        <br><br><br>
    </form>
</body>
</html>
